<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*bMgQ8MhbnQexpqHgIgBJPA.png"
    alt=""
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular!!!</a></h1>
  </div>

  <div class="big-card__description">
    <p>A equipe do Angular não está medindo esforços para trazer grandes novidades a cada versão lançada. O Angular progrediu muito em pouquíssimo tempo.</p>
  </div>
</div>
